# Prioritize JavaScript in GitHub language stats
*.js linguist-detectable=true

# Exclude CSS and HTML from language stats but keep them visible in the repo
*.css linguist-vendored
*.html linguist-vendored